In [149]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier


import warnings
warnings.filterwarnings("ignore")

In [150]:
df = pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [151]:
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce") # turn to numeric, coerce errors to NaN
df.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [152]:
df["TotalCharges"].fillna(0, inplace=True) # fill NaN values with 0
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [153]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [154]:
# seperate features (x) and target (y)
x = df.drop(columns=["customerID", "Churn"], axis=1)
y = df["Churn"].map({"Yes": 1, "No": 0})  # Convert target variable to binary

In [155]:
x.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [156]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [157]:
cat_cols = x.select_dtypes(include=['object']).columns.tolist()

In [158]:
for col in cat_cols:
    x[col] = le.fit_transform(x[col])

In [160]:
x.dtypes , x.head()

(gender                int64
 SeniorCitizen         int64
 Partner               int64
 Dependents            int64
 tenure                int64
 PhoneService          int64
 MultipleLines         int64
 InternetService       int64
 OnlineSecurity        int64
 OnlineBackup          int64
 DeviceProtection      int64
 TechSupport           int64
 StreamingTV           int64
 StreamingMovies       int64
 Contract              int64
 PaperlessBilling      int64
 PaymentMethod         int64
 MonthlyCharges      float64
 TotalCharges        float64
 dtype: object,
    gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  \
 0       0              0        1           0       1             0
 1       1              0        0           0      34             1
 2       1              0        0           0       2             1
 3       1              0        0           0      45             0
 4       0              0        0           0       2             1

    MultipleLines  InternetService  OnlineSecurity  OnlineBackup  \
 0              1                0               0             2
 1              0                0               2             0
 2              0                0               2             2
 3              1                0               2             0
 4              0                1               0             0

    DeviceProtection  TechSupport  StreamingTV  StreamingMovies  Contract  \
 0                 0            0            0                0         0
 1                 2            0            0                0         1
 2                 0            0            0                0         0
 3                 2            2            0                0         1
 4                 0            0            0                0         0

    PaperlessBilling  PaymentMethod  MonthlyCharges  TotalCharges
 0                 1              2           29.85         29.85
 1                 0              3           56.95       1889.50
 2                 1              3           53.85        108.15
 3                 0              0           42.30       1840.75
 4                 1              2           70.70        151.65  )